<table>
  <thead>
    <tr>
      <th>Action</th>
      <th>Status</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
  <%= for todo <- @todos do %>
      <tr>
        <td><%= todo.action %></td>
        <td><%= todo.status %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="fixed-action-btn">
  <%= link to: Routes.todo_path(@conn, :new), class: "btn-floating btn-large waves-effect waves-light red" do %>
    <i class="material-icons">add</i>
<% end %>
</div>