<%= form_for @changeset, topic_path(@conn, :create) fn f -> %>
  <div class="form-group">
    <%= text_input f, :todo, placeholder: "Action", class:"form-control" %>
    <%= error_tag f, :todo %>
  </div>

  <%= submit "Save ToDo", class: "btn btn-primary" %>
<% end %>